/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;500&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    margin: auto;
    background: #E5E5E5;
    font-family: 'Lexend Deca', sans-serif;
}